@font-face {
    font-family: 'swiss_721black_condensed';
    src: url('../../fonts/swiss721bt/swiss721bt-blackcondensed-webfont.woff2') format('woff2'),
         url('../../fonts/swiss721bt/swiss721bt-blackcondensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}