/* Bootstrap */
.text-primary {
    color: var(--cor-principal) !important;
}

.btn {
    font-weight: 500;
}

.btn-primary {
	--bs-btn-color: #000;
    --bs-btn-bg: var(--cor-principal);
    --bs-btn-border-color: var(--cor-principal);
    --bs-btn-hover-color: var(--cor-principal);
    --bs-btn-hover-bg: var(--cor-complementar2);
    --bs-btn-hover-border-color: var(--cor-complementar2);
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: var(--cor-principal);
    --bs-btn-active-border-color: var(--cor-principal);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: var(--cor-principal);
    --bs-btn-disabled-border-color: var(--cor-principal);
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #000;
    --bs-btn-border-color: #000;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--cor-complementar1);
    --bs-btn-hover-border-color: var(--cor-complementar1);
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #000;
    --bs-btn-active-border-color: #000;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #000;
    --bs-btn-disabled-border-color: #000;
}

.btn-outline-secondary {
    --bs-btn-color: #fff;
    --bs-btn-border-color: #fff;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: var(--cor-principal);
    --bs-btn-hover-border-color: var(--cor-principal);
    --bs-btn-focus-shadow-rgb: 108,117,125;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: var(--cor-principal);
    --bs-btn-active-border-color: var(--cor-principal);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--cor-principal);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--cor-principal);
    --bs-gradient: none;
}

.btn-outline-secondary:hover svg {
    fill: #fff;
}


.btn-outline-primary {
    --bs-btn-color: #fff;
    --bs-btn-border-color: var(--cor-principal);
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: var(--cor-principal);
    --bs-btn-hover-border-color: var(--cor-principal);
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--cor-principal);
    --bs-btn-active-border-color: var(--cor-principal);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--cor-principal);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--cor-principal);
    --bs-gradient: none;
}


/* .btn-primary--vasado {
    background: none;
    border-color: var(--cor-complementar6);
    color: var(--cor-complementar6);
}

.btn-primary--vasado:hover {
    background: var(--cor-complementar6);
    color: #fff;
} */

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: var(--cor-principal) !important;
}

.dropdown-toggle.no-arrow::after {
    display: none;
}

/* .dropdown-item {
    color: var(--cor-branco);
}

.dropdown-item:hover {
    background: var(--cor-complementar3);
    color: var(--cor-branco);
} */
/* Fim Bootstrap */



/* Swiper */
.slide-item {
    padding: 100px 0;
}

.swiper-button-prev:after {
    content: url(../../img/prev.png) !important;
}

.swiper-button-next:after {
    content: url(../../img/next.png) !important;
}

.swiper1 .swiper-button-prev:after,
.swiper1 .swiper-button-next:after {
    filter: brightness(0) invert(1);
}

.swiper-button-next-swiper1, 
.swiper-button-prev-swiper1 {
	width: 44px !important;
}

.swiper-button-prev-swiper1 {
    left: 20px !important;
}

.swiper-button-next-swiper1 {
    right: 20px !important;
}

@media (max-width: 767px) {
    .swiper-button-next-swiper1, 
    .swiper-button-prev-swiper1 {
        display: none !important;
    }
} 
/* Fim Swiper */


.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #fff;
    pointer-events: auto;
    background-color: #333;
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid #333;
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-modal-header-padding);
    border-bottom: var(--bs-modal-header-border-width) solid rgba(255, 255, 255, .4);
    border-top-left-radius: var(--bs-modal-inner-border-radius);
    border-top-right-radius: var(--bs-modal-inner-border-radius);
}