.gastronomia {
    background: url(../../img/bg4.jpg) no-repeat 50% 0 / 100% auto;
}

.gastronomia__titulo {
    background: rgba(0,0,0,.4);
}


.gastronomia__titulo h2 {
    font-size: 1.6rem;
}

@media (min-width: 768px) {
	.gastronomia__titulo h2 {
        font-size: 2.5rem;
    }
}

@media (min-width: 1000px) {
	.gastronomia__titulo h2 {
        font-size: 3.5rem;
    }
}

.gastronomia img {
    width: 100%;
    max-width: 560px;
}

.gastronomia__texto {
    font-size: 1.8rem;
}

@media (min-width: 600px) {
    .gastronomia__texto {
        font-size: 2.2rem;
    }
}

@media (min-width: 769px) {
    .gastronomia__texto {
        font-size: 3rem;
    }
}

