/* Navegation */
.navegation {
	background: none;
	position: sticky;
	top: 0;
    z-index: 1000;
	transition:  background .5s;
}

@media (max-width: 1200px) {
	.navegation.fade-in {
		background: #000;
	}
}


/* .navbar-brand:after {
	content: "";
	background: url(../img/bg-logo.png);
	height: 77px;
	width: 356px;
	position: absolute;
	bottom: -84px;
	left: -60px;
    z-index: -1;
} */

.navbar-brand img {
	max-width: 180px;
}


@media (max-width: 778px) {
	.navbar-brand:after {
		display: none;
	}
}

.navbar .container {
	position: relative;
}

.nav-link {
	color: var(--cor-complementar3);
	font-weight: 400;
	margin-right: 15px;
	font-size: 1rem;
	position: relative;
}

.nav-link:hover,
.nav-link:focus {
	color: var(--cor-principal);
}

/* .nav-link.current {
	color: var(--cor-principal) !important;
	font-weight: 500;
} */

.navbar-toggler {
	background: var(--color-white);
}


@media (min-width: 1200px) {
	.navegation {
		position: relative;
	}

	.nav-item:hover .dropdown-menu {
		display: block;
	}

	.nav-link {
		color: #fff;
	}

	.nav-link:hover:before,
	.nav-link.current:before {
		content: "";
		height: 8px;
		border-radius: 4px;
		position: absolute;
		left: 8px;
		bottom: -6px;
		right: 8px;
		background: var(--cor-principal);

	}

}

@media (min-width: 1400px) {
	.nav-link {
		color: #fff;
		font-size: 1.2rem;
	}
}


@media (max-width: 1350px) {
	.navbar .container:before {
		width: auto;
		left: 0;
	}
}

@media (max-width: 997px) {
	.nav-link {
		font-size: 1rem;
	}

	.navbar-toggler {
		margin-top: 20px;
	}

	.navegation-fixed .navbar-toggler {
		margin-top: 0;
	}

	.navegation-fixed .navbar .container:before {
		display: none;
	}

}



@media (min-width: 1000px) and (max-width: 1399px) {
	.navbar-brand img {
		max-width: 220px;
	}
}

@media (min-width: 1400px) and (max-width: 1600px) {
	.navbar-brand img {
		max-width: 280px;
	}
}
/* End Navegation*/

/* Nav Fixed */
.navegation-fixed {
	position: fixed;
	top: -100%;
	left: 0;
	right: 0;
	z-index: 1000;
	background: #000;
	height: 50px;
	box-shadow: 3px 3px 6px rgba(0,0,0,.3);
	transition: top .5s;
	
}

.navegation-fixed .nav-link:before {
	display: none;
}

@media (min-width: 1201px) {
	.navegation-fixed--mostrar {
		top: 0%;
	}	
}


.navegation-fixed .navbar-nav {
	padding: 0 !important;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.navegation-fixed .navbar-nav .dropdown-menu {
	position: absolute;
}

.navegation-fixed .nav-link {
	margin-right: 15px;
	margin-left: 15px;
}

/* Fim Nav Fixed */